@model ContatoModel
@{
    ViewData["Title"] = "Editar contato";
}

<div class="text-center">
    <br />
    <h1 class="display-4">Editar contato</h1>
</div>

<form asp-controller="Contato" asp-action="Alterar" method="post">
    <div class="form-group">
        <label for="nome" class="form-label">Nome</label>
        <input type="text" asp-for="Nome" class="form-control" placeholder="Digite o nome do contato">
    </div>

    <div class="form-group">
        <label for="email" class="form-label">E-mail</label>
        <input type="email" asp-for="Email" class="form-control" placeholder="Digite o e-mail do contato">
    </div>

    <div class="form-group">
        <label for="celular" class="form-label">Celular</label>
        <input type="text" asp-for="Celular" class="form-control" placeholder="Digite o celular do contato">
    </div>

    <br />
    <button type="submit" asp-route-id="contato.Id" class="btn btn-primary btn-block">Alterar </button>
    <a class="btn btn-secondary btn-block" asp-controller="Contato" asp-action="Index" role="button">Voltar</a>
</form>